body {
    background-color: black;
}

li {
    list-style-type: none;
}

em {
    font-weight: 700;
}

* {
    cursor: default;

}

.bg,
.tele {
    position: fixed;
    top: 50px;
    left: 20px;
    height: 751px;
    background-repeat: no-repeat;
}

.bg {
    width: 740px;
    overflow: hidden;
}

#b2 {
    left: 1150px;
    width: 700px;
}

.scr {
    position: absolute;
    height: 751px;
    width: 1900px;
    background-image: url(../redimage/background1.png);
    background-size: 1900px 740px;
    transition-duration: 0.5s;
}

#bg2 {
    background-position-x: -730px;
}

.tele {
    width: 1856px;
    background-image: url(../redimage/background2.png);
    background-size: contain;
}

.array {
    position: fixed;
    top: 385px;
    width: 0;
    height: 0;
    border: 25px solid;
    border-top-color: rgb(255, 39, 39);
    transform-origin: center;
}

.leftarray {
    transform: rotate(90deg);
    left: -15px;
}

.rightarray {
    transform: rotate(-90deg);
    left: 1860px;
}

.yadang {
    position: fixed;
    top: 50px;
    left: 725px;
    height: 951px;
    width: 450px;
    background-repeat: no-repeat;
    background-image: url(../redimage/yadang2.png);
    background-size: 100%;
    background-position-y: -115px;
    transition-duration: 1s;
    z-index: 0;
}

.apple {
    position: fixed;
    top: 900px;
    left: 980px;
    height: 50px;
    width: 50px;
    background-image: url(../redimage/apple1.png);
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    transition-timing-function: ease-in;
}

.clue1 {
    position: absolute;
    background-color: #ffe1e1;
    border-radius: 25%;
    border: 3px solid rgb(165, 10, 10);
    box-shadow: 2px 2px 8px #00000060;
    transform-origin: bottom;
    font-size: 2px;
    transition-duration: 0.2s;
}

.scrclue1,
.scrclue2 {
    position: absolute;
    transition-duration: 0.5s;
}

.scrclue1 {
    left: 0;
}

.scrclue2 {
    left: 0;
}

#clue1-1 {
    height: 70px;
    width: 150px;
    left: 515px;
    top: 230px;
    line-height: 60px;
}

#clue1-1 span {
    line-height: 20px;
}

#clue1-2 {
    height: 60px;
    width: 120px;
    left: 210px;
    top: 375px;
    line-height: 30px;
}

#clue1-2 span {
    line-height: 18px;
}

.dav {
    padding-left: 5px;

    line-height: 15px;
}

.venu {
    padding-left: 5px;

    line-height: 15px;
}

.pic2 {
    padding-left: 5px;
    line-height: 20px;
}

#clue1-3 {
    height: 40px;
    width: 80px;
    left: 1690px;
    top: 570px;
}

#clue1-4 {
    height: 40px;
    width: 120px;
    left: -490px;
    top: 415px;
}

#clue1-5 {
    height: 60px;
    width: 80px;
    left: 935px;
    top: 560px;
}

#clue1-6 {
    height: 100px;
    width: 110px;
    left: 750px;
    top: 160px;
}

.scr1 {
    position: absolute;
    height: 700px;
    width: 690px;
    top: 70px;
    left: 50px;
    border-radius: 10%;
    overflow: hidden;
}

.scr2 {
    position: absolute;
    height: 700px;
    width: 690px;
    top: 70px;
    left: 1150px;
    border-radius: 10%;
    overflow: hidden;
}

ul {
    position: relative;
    padding: 0;
}

.clue1 li {
    float: left;
}

.pic1 li:nth-of-type(1),
.dav li:nth-of-type(2),
.pic2 li:nth-of-type(5) {
    rotate: 15deg;
}

.pic1 li:nth-of-type(2),
.dav li:nth-of-type(1),
.venu li:nth-of-type(4),
.pic2 li:nth-of-type(1),
.pic2 li:nth-of-type(6) {
    rotate: -5deg;
}

.pic1 li:nth-of-type(3),
.dav li:nth-of-type(4),
.venu li:nth-of-type(3),
.pic2 li:nth-of-type(2) {
    rotate: 20deg;
}

.pic1 li:nth-of-type(4),
.dav li:nth-of-type(3),
.venu li:nth-of-type(2),
.pic2 li:nth-of-type(3),
.pic2 li:nth-of-type(8) {
    rotate: -15deg;
}

.pic1 li:nth-of-type(5),
.venu li:nth-of-type(1),
.pic2 li:nth-of-type(4),
.pic2 li:nth-of-type(7) {
    rotate: 8deg;
}

.clue1 span {
    position: absolute;
    left: 7px;
    visibility: hidden;

}

.tool {
    position: fixed;
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: #4b4b4b;
    top: 790px;
    left: 90px;
    margin-right: 50px;
    border-radius: 10%;
    box-shadow: 10px 10px 10px rgb(0, 0, 0) inset;
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    color: rgba(255, 0, 0, 0);
    transition-duration: 0.5s;

}

/* .tools span:nth-of-type(1),
.tools span:nth-of-type(4),
.tools span:nth-of-type(6),
.tools span:nth-of-type(7) {
    border: 1px solid rgb(202, 202, 202)
} */
.tools span:nth-of-type(1) {
    left: 1530px;

}

.tools span:nth-of-type(2) {
    left: 230px;
    background-color: black;
}

.tools span:nth-of-type(3) {
    left: 370px;
    background-color: black;
}

.tools span:nth-of-type(4) {
    left: 1390px;

}

.tools span:nth-of-type(5) {
    left: 1250px;
    background-color: black;
}

.tools span:nth-of-type(6) {
    left: 510px;
}

.tools span:nth-of-type(8) {
    left: 1670px;
    background-color: black;
}

.te {
    visibility: hidden;
    transition-duration: 1s;
}

.to {
    transition-duration: 1s;
}

.tool div {
    height: 60px;
    width: 70px;
    position: absolute;
    top: 20px;
    left: 15px;
    background-color: #e26d63;
    border-radius: 15%;
    border: 5px solid #93190f;
    visibility: hidden;
    font-size: 38px;
    line-height: 20px;
    color: black;
    overflow: hidden;
    padding-top: 5px;
    font-weight: 700;
}

.blk {
    position: absolute;
    background-color: black;
}

.scr1 .blk1 {
    top: 140px;
    left: 165px;
    height: 30px;
    width: 120px;
}

.scr1 .blk2 {
    top: 270px;
    left: 170px;
    height: 30px;
    width: 50px;
}

.scr1 .blk3 {
    top: 400px;
    left: 600px;
    height: 30px;
    width: 60px;
}

.scr1 .blk4 {
    top: 440px;
    left: 970px;
    height: 30px;
    width: 110px;
}

.scr1 .blk5 {
    top: 540px;
    left: 1020px;
    height: 30px;
    width: 40px;
}



.scr2 .blk6 {
    top: 440px;
    left: 270px;
    height: 30px;
    width: 110px;
}

.scr2 .blk7 {
    top: 540px;
    left: 320px;
    height: 30px;
    width: 40px;
}

.scr2 .blk8 {
    top: 340px;
    left: 790px;
    height: 30px;
    width: 70px;
}

.scr2 .blk9 {
    top: 440px;
    left: 790px;
    height: 30px;
    width: 70px;
}

.picture {
    position: absolute;
    background-image: url(../redimage/picture1.png);
    background-size: 1900px 740px;
}

.picture1 {
    height: 410px;
    width: 300px;
    left: 65px;
    top: 20px;
    background-position: -98px -40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.picture2 {
    height: 680px;
    width: 300px;
    left: 530px;
    top: 18px;
    background-position: -560px -40px;
}

.picture3 {
    height: 450px;
    width: 310px;
    left: 710px;
    top: 165px;
    background-position: -1442px -185px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.board {
    position: absolute;
    visibility: hidden;
    border-radius: 15%;
    border-style: solid;
    border-width: 5px;
    background-color: #ffe1e136;
    border: 3px dashed rgb(255, 255, 255);
    transition-duration: 0.2s;
}

.board1 {
    left: 140px;
    top: 430px;
    height: 40px;
    width: 150px;
}

.board2 {
    height: 40px;
    width: 120px;
    left: 610px;
    top: 650px;
}

.board3 {
    height: 40px;
    width: 100px;
    left: 1020px;
    top: 650px;
}

.board4 {
    height: 40px;
    width: 100px;
    left: 320px;
    top: 650px;
}

.board5 {
    height: 100px;
    width: 80px;
    left: 1000px;
    top: 550px;
}

.grey {
    width: 1500px;
    height: 1500px;
    background-color: #00000000;
    position: absolute;
    display: none;
}

.board div {
    padding-top: 5px;
    padding-left: 2px;
    font-size: 5px;
    visibility: hidden;

}

.litter {
    position: absolute;
    font-size: 40px;
    color: #000000;
    text-shadow: 2px 2px 3px rgba(255, 3, 3, 0.712);
    visibility: hidden;
}

.lt1 {
    left: 100px;
    top: 100px;
    transform: rotate(15deg);
}

.lt2 {
    left: 610px;
    top: 250px;
    transform: rotate(-35deg);
}

.lt3 {
    left: 450px;
    top: 650px;
    transform: rotate(-25deg);
}

.lt4 {
    left: 800px;
    top: 360px;
    transform: rotate(45deg);
}