/*#region 结构 */
html {
  background-color: rgb(0, 0, 0);
  /* min-width: 1280px;
  max-width: 2400px;
  min-height: 637px;
  max-height: 1194px; */
  overflow-x: hidden;

}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Showcard Gothic',
    'Berlin Sans FB Demi', 'Noto Sans SC', Courier, monospace;
  font-size: 18px;
  background-image: url(../images/star.gif);
  background-size: 40%;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

li {

  list-style-type: none;
}

/* #endregion */
/* #region 外部通用 */
/* #region 小人动画 */
#me span {
  position: absolute;
  height: 100px;
  width: 100px;
  background-image: url("../images/me1.gif");
  background-size: 95%;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -50px;
}

/* #endregion */
/*#region START提示语*/
#start span {
  background-color: rgb(50, 50, 50);
  float: left;
  height: 320px;
  width: 320px;
  border-radius: 5%;
  margin-left: 50px;
  background-image: url(../images/texture.png);
}

#start {
  width: 1500px;
  height: 320px;
  left: 50%;
  margin-left: -750px;
  padding-left: 205px;
  position: relative;
  font-size: 30px;
  color: #000000;
  text-align: center;
  margin-top: 450px;
  line-height: 320px;
  letter-spacing: 15px;
}

.suggest {
  position: fixed;
  top: 10%;
  left: 30%;
  height: 10%;
  width: 40%;
  color: white;
  line-height: 50px;
  display: none;
  text-align: center;
  font-family: 'Noto Sans SC', Courier, monospace;
  z-index: 5;
}

/*#endregion*/
/*#region box通用样式*/
.box {
  /*所有的方块box*/
  width: 60px;
  height: 60px;
  border-radius: 10%;
  font-family: 'Noto Sans SC', Courier, monospace;
  text-align: center;
}

.red {
  /*红色方块，正向动画*/
  background-color: rgb(255, 92, 92);
  color: #000000;
}

.black {
  /*黑色方块，反向动画*/
  font-size: 30px;
  line-height: 54px;
  letter-spacing: 6px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding-left: 5px;
}

.keer,
.me {
  /*叫keer和me的方块box*/
  font-size: 25px;
  letter-spacing: 8px;
  padding-top: 5px;
  padding-left: 10px;
}

.me {
  /*me的方块box*/
  line-height: 50px;
}

.keer {
  /*keer的方块box*/
  line-height: 25px;
}

.gamedesigner {
  /*gamedesigner的方块box*/
  line-height: 19px;
  letter-spacing: 1px;
  padding-left: 2px;
  padding-top: 2px;
}

.eter {
  background-color: rgb(255, 32, 32);
}

/* #endregion */
/*#region 头部盒子位置*/
.head {
  position: sticky;
  top: 0;
  height: 50%;
  background-color: #000000;
  z-index: 5;
  padding-top: 1%
}

.head ul li {
  position: absolute;
}

#head1 {
  left: 80px;
}

#head2 {
  left: 150px;
}

#head3 {
  left: 350px;
}

/* #endregion */
/*#region 右侧栏盒子位置*/
.right {
  position: fixed;
  bottom: 0;
  right: 0px;
  width: 100px;
  height: 250px;
  z-index: 6;
  padding-right: 20px;
}

.fixedbox li {
  position: fixed;
}

.rightbox li {
  position: absolute;
}

#fixed2 {
  top: 90px;
}

#fixed1 {
  top: 20px;
}

#fixed3 {
  top: 160px;
}


#right2 {
  top: 70px;
}

#right3 {
  left: -161px;
  top: 140px;
}

/* #endregion */
/*#region 方块的动画*/
@keyframes rota {
  0% {
    transform: rotate(-2deg);
    transform-origin: center;
  }

  50% {
    transform: rotate(2deg);
    transform-origin: center;
  }

  100% {
    transform: rotate(-2deg);
    transform-origin: center;
  }
}


/* 调用动画*/
.red {
  animation: rota 0.5s steps(1) infinite;
}

.black {
  animation: rota 0.5s steps(1) infinite;
  animation-delay: 0.25s;
}

/* #endregion */
/* #endregion */
/* #region 游戏部分 */
/* #region 背景框 */
/*#region 游戏部分背景框顶部*/
.gameall {
  visibility: hidden;
  width: 100%;

}

.gameboxtop {
  position: sticky;
  margin-left: 2%;
  width: 80%;
  height: 60px;
  z-index: 3;
  background-color: #3f3f3f00;
  box-shadow: 0px 10px 0px 10px rgba(190, 91, 10, 0) inset;
  border-top: 5px solid rgb(117, 117, 117);
}

/* #endregion */
/*#region 游戏部分背景框中部*/
.gamebox {
  left: 2%;
  height: 66000px;
  margin-top: 25px;
  position: relative;
  background-image: url(../images/gamebox.png);
  background-attachment: fixed;
  background-size: 50%;
  background-color: rgba(255, 255, 255, 0.575);
  width: 80%;
  z-index: 1;
  box-shadow: 0px 0px 0px 10px rgba(190, 91, 10, 0) inset;
  border: 5px solid rgb(117, 117, 117);
}


.gameboxcontent>div {
  position: absolute;
  width: 100%;
}

.introduction {
  top: 2.7%;
  height: 1300px;
}

.work {
  top: 4500px;
  height: 2000px;
}

.introduction h1 {
  text-align: center;
  font-size: 100PX;
  color: #e46669;
  font-weight: 700;
  font-family: 'Showcard Gothic', 'Berlin Sans FB Demi', 'Noto Sans SC', Courier, monospace;
  text-decoration: blink;
  text-shadow: 10px 10px #7e1666;
}

.introduction P {
  text-align: center;
  font-size: 30px;
}

/* #endregion */
/*#region 游戏部分背景框底部*/
.gameboxbottom {
  position: sticky;
  bottom: 0;
  width: 90%;
  z-index: 4
}

.gameboxbottom>div {
  position: absolute;

}

.triangle-left,
.triangle-right {
  width: 0;
  height: 0;
  border: 45px solid transparent;
}

.triangle-left {
  border-top-color: rgb(117, 117, 117);
  transform: rotate(-45deg);
  transform-origin: center;

}

.rectangle {
  width: 90.6%;
  height: 140%;
  left: 1.6%;
  top: -35%;
  background-color: rgb(117, 117, 117);
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.5);
}

.triangle-right {
  left: 90.5%;
  border-top-color: rgb(117, 117, 117);
  transform: rotate(45deg);
  transform-origin: center;
}

.rectangle>div {
  height: 250%;
  width: 9%;
  position: absolute;
  bottom: -90%;
  background-position: 0px -5px;
  background-size: 90% 110%;
  line-height: 120%;
  padding-left: 3%;
  padding-top: 3%;
  background-repeat: no-repeat;
  font-family: 'Noto Sans SC', Courier, monospace;
  font-weight: 700;
  font-size: 18px;


}

#redbutton {
  left: 15%;
  background-image: url(../images/kadai1.png);
}

#yellowbutton {
  left: 35%;
  background-image: url(../images/kadai2.png);
}

#greenbutton {
  left: 55%;
  background-image: url(../images/kadai3.png);
}

#purplebutton {
  left: 75%;
  background-image: url(../images/kadai4.png);
}

/* #endregion */
/* #region 水管 */
.tube {
  width: 90px;
  height: 100px;
  background-image: url("../images/tube.png");
  background-size: 95%;
  background-repeat: no-repeat;
}

#tube1 {
  position: absolute;
  top: 120%;
  left: 107px;
}

#tube2 {
  position: fixed;
  bottom: 5%;
  left: 115px;
  visibility: hidden;
}

/* #endregion */
/* #endregion */
/* #region 跷跷板 */
.qqb {
  position: absolute;
  top: 19.4%;
  left: 50px;
  height: 10px;
  width: 200px;
  background-color: rgb(0, 0, 0);
}

.qqbb {
  position: absolute;
  top: 18.3%;
  left: 120px;
  border: 30px solid transparent;
  border-top-color: rgb(0, 0, 0);
  transform: rotate(180deg);
  transform-origin: center;
}

.tx1 {
  position: absolute;
  top: 16.1%;
  left: 210px;
  letter-spacing: 2px;
}

.tx2 {
  position: absolute;
  top: 11.1%;
  left: 280px;
}

.tx3 {
  position: absolute;
  top: 11.1%;
  left: 350px;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 8px;
}

/* #endregion */
/* #region 风扇 */
.fan {
  position: absolute;
  top: 1300px;
  left: 100px;
  height: 10px;
  width: 50px;
  background-color: #000000;
}

.fanbox li {
  position: absolute;
  top: 1300px;
}

.inner {
  position: absolute;
  background-color: #000000;
  color: #ffffff;
}

.tx4 {
  left: 450px;
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 60px;
}

.tx5 {
  left: 520px;
  letter-spacing: 2px;
  font-size: 25px;
  line-height: 30px;
}

.tx6 {
  left: 1000px;
  letter-spacing: 5px;
  font-size: 25px;
  line-height: 30px;
}

/* #endregion */
/*#region 个人简介*/
.pict {
  height: 10%;
  width: 10%;
  position: absolute;
  left: 80%;
  top: 150px;
  border-color: rgb(156, 54, 31);
  border-style: solid;
  border-width: 15PX;
  box-shadow: 10px 10px #2e00139d;
}

.outtree {
  margin-left: 12%;
  margin-top: 150px;
}

.tree {
  height: 30%;
  width: 30%;
  float: left;
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position-y: -15px;
  overflow: hidden;
  color: rgb(241, 61, 61);
  text-shadow: 2px 2px #000000;
  font-size: 24px;
}

.tree1 {
  background-image: url(../images/tree1-0.gif);
}

.tree2 {
  background-image: url(../images/tree2-0.gif);
}

.tree3 {
  background-image: url(../images/tree3-0.gif);
}

.tree li {
  position: absolute;
  top: -200px;
  visibility: hidden;
}

.tree div {
  height: 20px;
  width: 100px;
  background-image: url(../images/apple.png);
  background-size: 20px;
}

#tr22 div,
#tr31 div,
#tr32 div {
  width: 80px;
}

#tr11 {
  left: 25.8%;
}

#tr12 {
  left: 0%;
}

#tr13 {
  left: 57.3%;
}

#tr21 {
  left: 6.7%;
}

#tr22 {
  left: 12.4%;
}

#tr23 {
  left: 59.2%;
}

#tr24 {
  left: 48.7%;
}

#tr31 {
  left: 5.7%;
}

#tr32 {
  left: 61.2%;
}

#tr33 {
  left: 28.7%;
}

.skill {
  width: 100%;
  left: 12%;
}

.skill li {
  float: left;
  width: 15%;
  margin-left: 13%;
  font-size: 40px;
  text-align: center;
  color: #000000;
  letter-spacing: 5px;
}

/* #endregion */
/* #region 作品目录 */
.content {
  position: absolute;
  top: 1400px;
  left: 50%;
  width: 80%;
  margin-left: -36%;
}

.content li,
.content div {
  height: 40%;
  width: 40%;
}

.content li {
  float: left;
  margin: 4% 5%;
  position: relative;
  overflow: hidden;
  box-shadow: 10px 10px 10px #00000080 inset;
  background-image: url(../images/texture2.png);
  background-size: 50%;
}

.fanimg {
  position: absolute;
  height: 150px;
  width: 1500px;
  background-image: url(../images/fan.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  top: 1230px;
  left: 60px
}

/* #region 目录背景颜色 */
.content li:nth-of-type(1) {
  background-color: #ff7e7e;
  color: #91261f;
  background-image: url(../images/right.png);
  background-size: contain;
  background-position-y: 20px;
  background-repeat: no-repeat;

}

.content li:nth-of-type(2) {
  background-color: #ffb835;
  color: #aa590e;

}

.content li:nth-of-type(3) {
  background-color: #61ad5a;
  background-image: url(../images/gmtk.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 100px;
  color: #08610d;
}

.content li:nth-of-type(4) {
  background-color: #8b6ea3;
  color: #743b73;
  background-image: url(../images/concert.png);
  background-size: 210%;
  background-repeat: no-repeat;
  background-position-x: -250px;
}

/* # endregion */
/* #endregion */
.window {
  font-size: 40px;
  text-align: center;
  line-height: 300px;
  text-shadow: 1px 1px #181313;
  font-weight: 700;
  line-height: 180px;

}


.window span {
  position: absolute;
  top: 10px;
  left: 30px;
  height: 60px;
  width: 60px;
  font-size: 20PX;
}

/*work1*/
.window #span3 {
  top: 10px;
  left: 30px;
  line-height: 60px;
  font-size: 22px;
  letter-spacing: 2px;
}

.window #span1 {
  top: 200px;
  left: 100px;
  font-size: 22px;

}

.window #span2 {
  top: 200px;
  left: 170px;
  line-height: 60px;
  font-size: 20px;
}

/*work2*/
.window #span11 {
  top: 280px;
  left: 190px
}

.window #span12 {
  top: 10px;
  left: 260px
}

.window #span10 {
  top: 280px;
  left: 330px
}

/*work3*/

.window #span5 {
  top: 150px;
  left: 170px;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 60px;
}

.window #span6 {
  top: 10px;
  left: 240px;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 60px;
}

.window #span4 {
  top: 150px;
  left: 310px;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 60px;
}

/*work4*/
.window #span7 {
  top: 300px;
  left: 30px;
}

.window #span8 {
  top: 300px;
  left: 100px;
  line-height: 60px;
  letter-spacing: 2px
}

.window #span9 {
  top: 10px;
  left: 170px;
  line-height: 30px;
  letter-spacing: 2px
}

.window>div {
  position: absolute;
  top: -500px;
  background-image: url(../images/me2.gif);
  background-size: 80px 80px;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.door div {
  position: absolute;
  height: 60px;
  width: 60px;

}

#door1 {
  background-position: 10px 100px;
}

#door2 {
  background-position: 240px 160px;
}

#door3 {
  background-position: 230px 40px;
}

#door4 {
  background-position: 150px 180px;
}

#door1 div {
  left: 30px;
  top: 200px;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 60px;

}

#door2 div {
  left: 260px;
  top: 280px;

}

#door3 div {
  left: 240px;
  top: 150px;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 60px;
}

#door4 div {
  left: 170px;
  top: 300px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 2px
}

/* #endregion */
/*#region 作品主页背景*/
.innerbox>span {
  position: fixed;
  top: 7%;
  left: 2%;
  width: 80%;
  border: 5px solid rgb(117, 117, 117);
  background-image: url(../images/texture.png);
  background-size: 30%;
}

#innerbox1 {
  background-color: #ff7e7e;
}

#innerbox2 {
  background-color: #f0c467;
}

#innerbox3 {
  background-color: #79c772;
}

#innerbox4 {
  background-color: #a5618e;
}

/* #endregion */
/* #region 跳转到游戏主页链接按钮 */
.button1,
.buttonred {
  position: absolute;
  padding-left: 10px;
  width: 80px;
  height: 80px;
  border-style: none;
  border-radius: 15%;
  font-family: 'Noto Sans SC', Courier, monospace;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 10px;
  line-height: 35PX;
  box-shadow: 5PX 5PX 3PX rgba(0, 0, 0, 0.7);
}

.button1 {
  background-color: rgb(0, 75, 6);
  color: #79c772;
  left: 45%;
  top: 5%;
}

.buttonred {
  background-color: rgb(126, 6, 6);
  color: #ff7e7e;
  right: 2%;
  top: 2%;
}

/* #endregion */
/* #region 作品1内容 */
#innerbox1 video,
#innerbox1 span:nth-of-type(3) {
  height: 340.2px;
  width: 604.8px;
}

#innerbox1 span:nth-of-type(1) {
  font-size: 33px;
  position: absolute;
  top: 2%;
  left: 3%;
  height: 100px;
  width: 500px;
  border-style: none;
}

#innerbox1 span:nth-of-type(2) {
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  top: 20%;
  left: 2%;
  height: 90%;
  width: 50%;
  border-style: none;
  text-align: left;
  overflow: auto
}

#innerbox1 span:nth-of-type(3) {
  position: absolute;
  top: 50px;
  right: 70px;
  border-style: none;
  background-image: url(../images/loading.png);
  background-size: 100%;
}

/* #endregion */
/* #region 作品3内容 */
#innerbox3 iframe {
  width: 100%;
  height: 100%;
}

#innerbox3 span:nth-of-type(1) {
  font-size: 33px;
  position: absolute;
  top: 2%;
  left: 3%;
  height: 100px;
  width: 500px;
  border-style: none;
}

#innerbox3 span:nth-of-type(2) {
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  top: 20%;
  left: 60%;
  height: 90%;
  width: 40%;
  border-style: none;
  text-align: left;
  overflow: auto
}

#innerbox3 span:nth-of-type(3) {
  position: absolute;
  top: 20%;
  left: 3%;
  width: 50%;
  height: 60%;
  border-style: none;
  background-image: url(../images/loading.png);
  background-size: 100%;
}

#innerbox3>div:nth-of-type(1) {
  position: absolute;
  left: 60%;
  top: 5%;
  height: 60px;
  width: 60px;
  background-image: url(../images/NORMAL.png);
  background-size: 300% 100%;
}

#innerbox3>div:nth-of-type(2) {
  position: absolute;
  left: 95%;
  bottom: 10%;
  height: 70px;
  width: 55px;
  background-image: url(../images/DESTINATION1.png);
  background-size: 100%;
}

#innerbox3>div:nth-of-type(1) div {
  position: absolute;
  left: -10%;
  top: 100%;
  height: 40px;
  width: 80px;
  background-image: url(../images/CUBE.png);
  background-size: 50% 100%;
}

#innerbox3>div:nth-of-type(2) div {
  position: absolute;
  left: -150%;
  top: 100%;
  height: 40px;
  width: 120px;
  background-image: url(../images/CUBE.png);
  background-size: 33.3% 100%;
}

/* #endregion */
/* #region 作品4内容 */
#innerbox4 video {
  height: 270px;
  width: 540px;
}

#innerbox4 span:nth-of-type(1) {
  position: absolute;
  top: 90px;
  left: 50px;
  width: 540px;
  height: 270px;
  border-style: none;
  background-image: url(../images/loading.png);
  background-size: 100%;
}

/* #endregion */
/* #endregion */
/* #region 建筑 */
.build {
  position: absolute;
  left: 2700px;
  height: 600px;
  width: 500px;
  background-color: #ffffff;
}

.end {
  position: absolute;
  left: 5700px;
  height: 600px;
  width: 500px;
  background-color: #ffffff;
}

/* #endregion */